<a ui-sref="home">Home</a> &lt; <span>Categories</span>

<h3>Categories</h3>
<categories-list items="categoriesList.categories">
  <table>
  	<tr>
  		<th></th>
  		<th>Category</th>
  		<th>Short Name</th>
  		<th>Description</th>
  	</tr>

  	<tr ng-repeat="categorie in categoriesList">
  		<td>{{ $index + 1 }}.</td>
  		<td><a ui-sref="shortname({shortname: categorie.short_name})">{{ categorie.name }}</a></td>
  		<td>{{ categorie.short_name }}</td>
  		<td>{{ categorie.special_instructions }}</td>
  	</tr>
  </table>
</categories-list>
